@charset "UTF-8";
body {
  background: -webkit-gradient(linear, right bottom, left top, from(#ff0844), to(#1673cd));
  background: linear-gradient(to left top, #ff0844, #1673cd);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh; }

#who, #what {
  font-style: italic; }

#header,
#footer,
#quote {
  width: 80%;
  margin: 0 auto; }

#content {
  height: 60vh; }

#quote {
  height: 60vh;
  font-size: 3.75rem;
  text-align: left;
  color: #fff;
  position: relative;
  line-height: 1.25; }
  #quote::before {
    content: '“';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform: translate3d(-110%, 0, 0);
            transform: translate3d(-110%, 0, 0); }

#footer {
  text-align: left;
  color: #fff;
  line-height: 20vh;
  font-size: 3rem; }

#header {
  bottom: auto;
  top: 0;
  line-height: 20vh;
  text-align: left;
  font-size: 3rem;
  color: #fff; }
  #header span {
    padding: 0 .25rem .25rem;
    border-bottom: 2px solid #fff; }
