* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: "Roboto", monospace;
  background-color: #fff;
  line-height: 1.5;
  font-size: 1.25rem; }

p {
  margin: 0 0 1.5rem; }

a {
  color: blue; }

h2, h1 {
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 1rem; }

.button {
  border: 1px solid blue;
  color: blue;
  padding: 1rem 2rem;
  border-radius: .5rem;
  background-color: #fff;
  cursor: pointer;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25); }
  .button:hover {
    background-color: rgba(0, 0, 255, 0.1); }
  .button.primary {
    background-color: blue;
    color: #fff; }
    .button.primary:hover {
      background-color: #0000cc; }

.instructions {
  background-color: rgba(255, 255, 255, 0.85);
  opacity: 1;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: auto; }
  .instructions .center {
    max-width: 600px;
    margin: 0 auto; }

h2 {
  margin-top: 3rem; }

ol {
  margin: 0; }
  ol li {
    margin-bottom: .5rem; }

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 3rem;
  width: 100%; }

.card {
  height: calc(50vh - 3rem);
  padding: 1rem;
  width: 25%;
  -webkit-perspective: 50vw;
          perspective: 50vw;
  z-index: 2; }

.content {
  color: #fff;
  -webkit-transition: all 2s ease;
  transition: all 2s ease; }

.hide-instructions .instructions {
  opacity: 0; }

.running .instructions {
  z-index: -1; }

.running .card.up .content {
  color: blue;
  -webkit-box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
          box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5); }

.card.done {
  z-index: 100; }
  .card.done .content {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg); }

.content {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  color: #ccc;
  text-align: center;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  z-index: 20; }

.restart {
  color: #ccc;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  line-height: 3rem;
  font-size: 1rem;
  padding: 0;
  z-index: 1;
  border: 0;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  z-index: 1; }
  .restart:hover {
    background-color: rgba(255, 0, 0, 0.1);
    color: red;
    z-index: 1; }

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #fff;
  border-radius: 1rem;
  line-height: 100%;
  font-weight: 700;
  font-size: 20vh;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.back {
  color: #5a4fff;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg); }
