doctype
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible", content="ie=edge")
        title UX Kiosk
        meta(name="viewport", content="width=device-width, initial-scale=1")
        //- link(rel="stylesheet", href="//fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet", href="//ddqt2avvbpaxu.cloudfront.net/cdn/v1/corp-prod/whitelabel.min.css")
        link(rel="stylesheet", href="kiosk.css")
    body
        #header What are <span id="who"></span> saying about <span id="what"></span>?
        #quote
        #footer Powered by the User Experience Team

        script(src="//unpkg.com/typed.js@2.0.6/lib/typed.js")
        script(src="kiosk.js")