body {
    background: linear-gradient(to left top, #ff0844, #1673cd); 
    flex-direction: column;
    display: flex;
    height: 100vh;
}

#who, #what {
    font-style: italic;
}

#header,
#footer,
#quote {
    width: 80%;
    margin: 0 auto;
}

#content {
    height: 60vh;
}

#quote {
    height: 60vh;
    font-size: 3.75rem;
    text-align: left;
    color: #fff;
    position: relative;
    line-height: 1.25;

    &::before {
        content: '“';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        transform: translate3d(-110%, 0, 0);
    }
}

#footer {
    // background-color: rgba(#000, .5);
    text-align: left;
    color: #fff;
    line-height: 20vh;
    font-size: 3rem;
    // font-weight: 600;
}

#header {
    bottom: auto;
    top: 0;
    line-height: 20vh;
    text-align: left;
    font-size: 3rem;
    color: #fff;
    // font-weight: 700;

    span {
        // font-weight: 400;
        padding: 0 .25rem .25rem;
        border-bottom: 2px solid #fff;
    }
}